body
{
  background-color: #777777;
}
#content
{
  width:70%;
  margin:auto;
  margin-top:50px;
  background-color: #f8f8f8;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:10px;
  padding-right: 10px;
}

.btn
{
  margin:10px;
}

.alt-row
{
  background-color: #DDDDDD;
}

.center
{
  width:100%;
  text-align: center;
}
